@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.event {
    background-color: #171717;
    border-radius   : 5px;
    display         : flex;
    flex-direction  : row;
    align-items     : flex-start;
    border-radius   : 10px;
    border          : 1px solid #2c2c2c;
    transition      : .2s;
    width           : 100%;
}

.event:hover {
    border: 1px solid;
    border: 1px solid #6d6d6d;
}

.eventSubContainer {
    flex           : 1;
    padding        : 2em 2em 2em 0;
    display        : flex;
    flex-direction : column;
    gap            : .4em;
    justify-content: space-around;
}

.imgPriceContainer {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.event img {
    width        : 200px;
    height       : auto;
    border-radius: 10px;
    margin       : 2em;
}

.event .preco {
    text-align   : center;
    color        : #c4c4c4;
    border-radius: 10px;
    border       : 2px solid #2c2c2c;
    padding      : .4em;
    width        : fit-content;
    font-size    : 20px;
}

.event h3 {
    font-size  : 20px;
    font-weight: 500;
    padding    : 0em .2em;
}

.event .author {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    color         : #a3a3a3;
    border-radius : 4px;
    padding       : 0em .2em;
    font-weight   : 500;
    font-size     : 14px;
    width         : fit-content;
}

.event .author svg {
    color: var(--green-solana);
}

.event .dataHora {
    display         : flex;
    flex-direction  : row;
    justify-content : flex-start;
    align-items     : center;
    gap             : .2em;
    color           : #2c2c2c;
    border-radius   : 4px;
    padding         : .4em .8em;
    font-weight     : 600;
    width           : 230px;
    background-color: var(--green-solana);
}

.event .dataHoraContainer {
    display       : flex;
    flex-direction: column;
    gap           : .3em;
    font-size     : 14px;
    padding       : 0 .2em;
}

.event .local {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    color         : #a3a3a3;
    font-weight   : 500;
    padding       : .4em;
    border-radius : 5px;
    width         : fit-content;
}

.event .local svg {
    color: var(--green-solana);
}

.event .description,
.instructions {
    color      : #a3a3a3;
    padding    : 0 .2em;
    line-height: 1.1;

}

.event button {
    text-transform  : uppercase;
    margin-top      : .4em;
    cursor          : pointer;
    padding         : 1em 2em;
    width           : 200px;
    align-self      : left;
    font-weight     : 600;
    border-radius   : 5px;
    border          : none;
    color           : white;
    background-color: var(--solana-purple);
    font-weight     : 600;
}

.event button:hover {
    background-color: #892be2b7;
}

/* Estilos para telas menores */
@media screen and (max-width: 600px) {
    .events-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .event {
        flex-direction: column;
        align-items   : center;
    }

    .eventSubContainer {
        padding        : 1.5em;
        justify-content: center;
    }

    .event h3 {
        text-align: center;
    }

    .event img {
        margin: 2em 0em 1.5em 0em;
    }

    .event .dataHoraContainer {
        flex-direction: column;
        font-size     : 14px;
    }

    .event button {
        width     : 200px;
        align-self: center;
    }
}