/* Estilos para dispositivos maiores */
footer {
    margin-top      : 10%;
    background-color: var(--solana-purple);
    color           : #fff;
    padding         : 2em;
}

.footer-container {
    display        : flex;
    justify-content: space-around;
}

.footer-section {
    display       : flex;
    flex-direction: column;
    gap           : .2em;
    margin-right  : 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding        : 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color          : #fff;
    text-decoration: none;
}

svg {}

.footer-bottom {
    text-align : center;
    margin-top : 20px;
    padding-top: 20px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align    : center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}