* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color          : var(--text-color);
    font-size      : 14px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* navbar */
.navbar {
    background-color  : var(--body-color);
    padding           : 10px 20px;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    gap               : 40px;
    min-height        : 70px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow   : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow        : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom     : 5%;
}

.logoContainer {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    flex-grow      : 1;
}

.logoContainer a {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    font-size      : 20px;
    font-weight    : 600;
}

.logoContainer a img {
    max-width    : 50px;
    border-radius: 20px;
    margin-right : .3em;
}


/* connect wallet button */
.connectWalletButton {
    padding        : .5em 2em;
    background     : linear-gradient(109deg, #9945ff, #14f195);
    background-size: 120% 120%;
    animation      : gradient-animation 2s ease infinite;
    color          : white;
    border-radius  : 4px;
    font-weight    : 600;
    font-size      : 13px;
    cursor         : pointer;
}

.connectWalletButton:hover {
    background: #14f195;
    color     : white;
}

/* hamburger */
.hamburger {
    display    : block;
    cursor     : pointer;
    margin-left: auto;
}

.bar {
    background-color  : #b5b5b5;
    width             : 20px;
    height            : 3px;
    display           : block;
    margin            : 5px;
    -webkit-transition: 0.1s ease-in-out;
    transition        : 0.1s ease-in-out;
}

/* adding active class to the bars  */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/* navMenu */
.navMenu {
    z-index           : 9999;
    display           : flex;
    align-items       : left;
    position          : absolute;
    flex-direction    : column;
    top               : 70px;
    left              : -100%;
    text-align        : left;
    width             : 30%;
    transition        : .2s linear;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow   : 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow        : 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.navMenu.active {
    left: 0;
}

.navMenu li {
    text-align      : left;
    padding         : 1em;
    cursor          : pointer;
    padding         : 0;
    background-color: #171717;
}

.navMenu li:hover {
    background-color: #202020;
}

.navMenu li a {
    padding       : 1em 1em 1em 1.2em;
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : .8em;
    font-size     : 15px;
    font-weight   : 500;
    color         : #CACAD6;
}

.navMenu li a:hover {
    color: var(--green-solana);
}

.navMenu li a svg {
    display   : block;
    align-self: center;
}

.logout svg {
    color    : var(--solana-purple);
    transform: scaleX(-1);
}

@media screen and (max-width: 800px) {
    .navMenu {
        width: 100%;
    }
}